<div class="page-header">
  <h1>Quote #<%= @quote.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Loan terms</dt>
  <dd><%= @quote.loanterm_id %></dd>

  <dt>Product</dt>
  <dd><%= @quote.product %></dd>

  <dt>Rate</dt>
  <dd><%= @quote.rate %></dd>

  <dt>Markup</dt>
  <dd><%= @quote.markup %></dd>

  <dt>Est fee</dt>
  <dd><%= @quote.est_fee %></dd>

  <dt>Premium</dt>
  <dd><%= @quote.premium %></dd>

  <dt>Notes</dt>
  <dd><%= @quote.notes %></dd>

</dl>
