<div class="page-header">
  <h1>Banker #<%= @banker.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @banker.name %></dd>

  <dt>Division</dt>
  <dd><%= @banker.division %></dd>

  <dt>Email</dt>
  <dd><%= @banker.email %></dd>

  <dt>Phone</dt>
  <dd><%= @banker.phone %></dd>

  <dt>Marketer</dt>
  <dd><%= @banker.marketer_id %></dd>

</dl>
