<div class="page-header">
  <h2>Client:  <%= @client.name %></h2>
</div>

<div>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd><%= @client.name %></dd>

    <dt>Contact person</dt>
    <dd><%= @client.contact_person %></dd>

    <dt>Contact email</dt>
    <dd><%= @client.contact_email %></dd>

    <dt>Contact phone</dt>
    <dd><%= @client.contact_phone %></dd>

    <dt>Metavante</dt>
    <dd><%= @client.metavante_id %></dd>

    <dt>Onboarding status</dt>
    <dd><%= @client.onboarding_status %></dd>

    <dt>Marketer</dt>
    <dd><%= @client.marketer_id %></dd>

    <dt>Notes</dt>
    <dd><%= @client.notes %></dd>

    <dt>Banker</dt>
    <dd><%= @client.banker_id %></dd>

  </dl>
</div>

<div class="page-header">
  <h3>Loan Terms</h3>

</div>


<% @client.loanterms.each do |loanterm| %>
    <table class="col-md-4 col-md-offset-1" class="table table-hover">
      <tbody class="panel panel-primary" >
        <tr>
          <td>Notional:</td>
          <td><%= loanterm.notional %></td>
        </tr>
    
        <tr>
          <td>Maturity: </td>
          <td><%= loanterm.maturity %></td>
        </tr>
      
        <tr>
          <td>Term: </td>
          <td><%= loanterm.term %></td>
        </tr>

        <tr>
          <td>Amortization: </td>
          <td><%= loanterm.amortization %></td>
        </tr>

        <tr>
          <td>Floating Index:</td>
          <td><%= loanterm.index %></td>
        </tr>

        <tr>
          <td>Credit Spread:</td>
          <td><%= loanterm.credit_spread %></td>
        </tr>

        <tr>
          <td>Loan Type:</td>
          <td><%= loanterm.debt_type %></td>
        </tr>

        <tr>
          <td>created at:</td>
          <td><%= loanterm.created_at %></td>
        </tr>

        <tr>
          <td>last updated at:</td>
          <td><%= loanterm.updated_at %></td>
        </tr>

        <tr>
          <td>Notes:</td>
          <td><%= loanterm.notes %></td>
        </tr>


<% loanterm.quotes.each do |quote| %>
      <td>quotes</td>
      <%=quote.inspect %>
<% end %>
    <% end %>
</div>

