<div class="page-header">
  <h1>Client:  <%= @client.name %></h1>
</div>

<div>
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd><%= @client.name %></dd>

    <dt>Contact person</dt>
    <dd><%= @client.contact_person %></dd>

    <dt>Contact email</dt>
    <dd><%= @client.contact_email %></dd>

    <dt>Contact phone</dt>
    <dd><%= @client.contact_phone %></dd>

    <dt>Metavante</dt>
    <dd><%= @client.metavante_id %></dd>

    <dt>Onboarding status</dt>
    <dd><%= @client.onboarding_status %></dd>

    <dt>Marketer</dt>
    <dd><%= @client.marketer_id %></dd>

    <dt>Notes</dt>
    <dd><%= @client.notes %></dd>

    <dt>Banker</dt>
    <dd><%= @client.banker_id %></dd>

  </dl>
</div>

<div>

<h3>Loan Terms</h3>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @client.name %></dd>

<% @client.loanterms.each do |loanterm| %>
  <%= loanterm.notional %>
  <%= loanterm.maturity %>
  <%= loanterm.term %>
  <%= loanterm.amortization %>
  <%= loanterm.index %>
  <%= loanterm.credit_spread %> 
  <%= loanterm.debt_type %> 
  <%= loanterm.created_at %> 
  <%= loanterm.updated_at %>
  <%= loanterm.notes %>





  <% loanterm.quotes.each do |quote| %>
    <%=quote.inspect %>
  <% end %>
<% end %>

</div>
