<div class="page-header">
  <h1>Client #<%= @client.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @client.name %></dd>

  <dt>Contact person</dt>
  <dd><%= @client.contact_person %></dd>

  <dt>Contact email</dt>
  <dd><%= @client.contact_email %></dd>

  <dt>Contact phone</dt>
  <dd><%= @client.contact_phone %></dd>

  <dt>Metavante</dt>
  <dd><%= @client.metavante_id %></dd>

  <dt>Onboarding status</dt>
  <dd><%= @client.onboarding_status %></dd>

  <dt>Marketer</dt>
  <dd><%= @client.marketer_id %></dd>

  <dt>Notes</dt>
  <dd><%= @client.notes %></dd>

  <dt>Banker</dt>
  <dd><%= @client.banker_id %></dd>

</dl>

<% @client.loanterms.each do |loanterm| %>
  <%= loanterm.inspect %>
  <% loanterm.quotes.each do |quote| %>
    <%=quote.inspect %>
  <% end %>
<% end %>

